
@media (min-width: 1440px){

  //Illustration component related styling
  .illus-desktop{
    clip-path: inset(0 0 0 70px);
    position: absolute;
    top:27px;
    right: 100px;
    z-index: 1;
  }

  .pattern-desktop{
    position: absolute;
    top: -340px;
    right: 100px;
    clip-path: inset(290px 0 0px 550px);
  }

  .illus-box{
    position: absolute;
    top: 154px;
    right: 440px;
    z-index: 1;
  }


  .card{
    box-sizing: border-box;
    margin: 150px auto;
    padding: 50px 100px 80px 500px;
    width: 1000px;
  }

  .faq-heading{
    text-align: left;
  }

  .query{
    color: $very-dark-grayish-blue;
    font-size: 16px;
    flex-basis: 390px;
  }

  .answer{
    font-size: 14px;
    width: 390px;
  }
}